@model RoleBasedAccessControl.Models.RoleViewModel

<h3>Add Role to User</h3>
@{
    if (Model == null)
    {
        <h4><font color="red">No Roles...</font></h4>
        <br/>
    }
    if (Model != null && !Model.Roles.Any())
    {
        <h4>All permissions have been added.</h4>
        <br/>
    }
    else
    {
        <form asp-controller="Roles" asp-action="AddUserToRole" method="post">
            
            <input type="hidden" value="@Model.UserId" name="UserId"/>
            <div class="col-md-4">
                <select class="form-control" asp-for="Role" asp-items="Model.Roles"></select>
            </div>
            <br/><br/>
            <button class="btn btn-sm btn-primary" type="submit">Add to User</button>
            
        </form>
        <br/>
    }
}