﻿@model IEnumerable<RoleBasedAccessControl.Models.Role>
@{
    Layout = "_Layout";
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSysAdmin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSysAdmin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoleId }) |
                @Html.ActionLink("Details", "Details", new { id=item.RoleId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.RoleId })
            </td>
        </tr>
    }

</table>
